@-webkit-keyframes miodina{
    0%{ 
        transform-origin: 50% 50%;
        transform: rotateY(0deg);}
    50%{
        transform: rotateY(180deg);
    }
    60%{
        transform: rotateY(360deg);
    }
    
    100%{
        transform: rotateY(3240deg);
    }
    }
@-moz-keyframes miodina{
        0%{ 
            transform-origin: 50% 50%;
            transform: rotateY(0deg);}
        50%{
            transform: rotateY(180deg);
        }
        60%{
            transform: rotateY(360deg);
        }
        
        100%{
            transform: rotateY(7240deg);
        }
        }
@keyframes miodina{
            0%{ 
                transform-origin: 50% 50%;
                transform: rotateY(0deg);}
            50%{
                transform: rotateY(180deg);
            }
            60%{
                transform: rotateY(360deg);
            }
            
            100%{
                transform: rotateY(7240deg);
            }
            }
@-o-keyframes miodina{
            0%{ 
                transform-origin: 50% 50%;
                transform: rotateY(0deg);}
            50%{
                transform: rotateY(180deg);
            }
            60%{
                transform: rotateY(360deg);
            }
            
            100%{
                transform: rotateY(3240deg);
            }
            }
.fond{
   background-image:url("yellow_wallpaper.jpg");
    background-size: cover;
    
    
}
.navbar.navbar-expand-sm.flex-column.flex-sm-row{
    background:-moz-linear-gradient(180deg,rgba(63, 63, 9, 0.404) 52%,#1a1b1b66 125%);
    background:-o-linear-gradient(180deg,rgba(63, 63, 9, 0.404) 52%,#1a1b1b66 125%);
    background:-webkit-linear-gradient(180deg,rgba(63, 63, 9, 0.404) 52%,#1a1b1b66 125%);
    background:linear-gradient(180deg,rgba(63, 63, 9, 0.404) 52%,#1a1b1b66 125%);
}

@media screen and (min-width:576px){
.navbar-nav{
    position: absolute;
    right: 0px;
}
}
.navbar-brand{
    
    color:rgba(14, 13, 13, 0.651);
}
.navbar-brand:hover{
    transition: 1s 0s ease-in all;
    color: rgb(0, 0, 0);
}
.nav-link{
    color:#7e7d13
}
.nav-link:hover{
    color: whitesmoke;

}
/*mampiodina anilay eo @ card*/
.card-img-top.pl-5{
    animation-name: miodina;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-direction: alternate ;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
/*mbola iresaka card ihany*/
.card.border-warning:hover,.card.border-secondary:hover,.card.border-dark:hover{
    transition: 1s 0s ease all;
    transform: scale(1.1);
}
.card.border-warning:hover~.card.border-secondary,.card.border-warning:hover~.card.border-dark{
    transition: 1s 0s ease all;
    transform: scale(0.8);
}
.card.border-secondary:hover~.card.border-dark{
    transition: 1s 0s ease all;
    transform: scale(0.8);
}

.card-deck.flex-column.flex-lg-row.mt-4.mx-auto.my-5{
    box-sizing:border-box;
}


.card-img-top.pl-5{
    box-sizing: border-box;
}
footer{
    position: relative;
    
}
figure{
    position: relative;
}

footer figure img{ 
    bottom:0px;
    width: 100%;
    position: absolute;
}
@media screen and (min-width:1500px){
    footer figure img{
        bottom:0%;
        width: 50%;
    }
    footer{
        top:250px;
    }
}
@media screen and (max-width:1500px){
    footer figure img{
        bottom:0%;
        width: 70%;
    }
    footer{
        top:200px;
    }
}
@media screen and (max-width:1100px){
    footer figure img{
        bottom:30%;
        width: 80%;
    }
    footer{
        top:150px;
    }
}
@media screen and (max-width:700px){
    footer figure img{
        bottom:40%;
        width: 80%;
    }
    footer{
        top:100px;
    }
}

@media screen and (max-width:500px){
    footer figure img{
        bottom:40%;
        width: 100%;
    }
    footer{
        top:0px;
    }
}
@media screen and  (max-width:400px){
    footer figure img{
        bottom:100%;
        width: 100%;
    }
    footer{
        top:100px;
    }
}
